.pageWrapper {

    margin: 0 auto;
    max-width: 840px;
    padding: 40px;
}



.articleCardWrapper {
    border: 1px solid grey;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding:20px;
}

.articleCardWrapper img {
    height: auto;
    width: 200px;
}

.articleCardText h2{
    margin-bottom: 20px;
}

.articleCardText p{
    font-size: 16px;
    margin-bottom: 20px;
}

.articleCardText a {
    color: lightpink;
    font-size: 20px;
    font-weight: bold;
}

.articleCardDate {
    color: grey;
    text-transform: uppercase;
}