
.pageWrapper {
    margin: 0 auto;
    max-width: 840px;
    padding: 40px;
}

.articleCardWrapper {
    border: 1px solid grey;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding:20px;
}

.articleCardWrapper img {
    height: auto;
    width: 200px;
}

.articleCardText h2{
    margin-bottom: 20px;
}

.articleCardText p{
    font-size: 16px;
    margin-bottom: 20px;
}

.articleCardText a {
    color: lightpink;
    font-size: 20px;
    font-weight: bold;
}

.articleCardDate {
    color: grey;
    text-transform: uppercase;
}

.articlePageHeaderWrapper {   
    align-items: center;  
    background-color: pink;
    background-size: cover;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    min-height: 340px;
    padding: 50px 20px;
    text-align: left; 
}

.articlePageHeaderContent {
    max-width: 640px; 
    margin: 0 auto; 
}

.articlePageHeaderContent h1 {
    font-size: 48px; 
    font-weight: bold;
    margin-bottom: 10px; 
    line-height: 1.2;
}

.articlePageHeaderContent p {
    font-size: 18px; 
    margin-bottom: 10px; 
}

.articleTextWrapper {
    margin: 60px auto;
    max-width: 640px;
}

.articleTextWrapper p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px
}

.articleTextWrapper h2 {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}

.articleTextWrapper h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}